# Merging Instacart Data Exercise 4.6

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Creating path to Data Folder 
path = r'/Users/farhodfurkatov/Desktop/CF Data Immersion Achievment 4/Instacart Basket Analysis/02 Data'

In [3]:
#Importing df_ords_prior
df_ords_prior = pd.read_csv(os.path.join(path, 'Original Data/new.csv'), index_col = False)

In [15]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [16]:
df_ords_prior.shape

(32434489, 4)

In [17]:
#importing ords_df
df_ords = pd.read_csv(os.path.join(path, 'Prepared Data/orders_clean.csv'), index_col = False)

In [18]:
df_ords.shape

(3421083, 6)

In [19]:
df_ords.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [20]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [21]:
df_merged_large.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [22]:
df_merged_large['_merge'].value_counts()

both          32434489
right_only           0
left_only            0
Name: _merge, dtype: int64

# Task 4.6

## Step 2

In [25]:
df_merged_large.to_csv(os.path.join(path, 'Prepared Data', 'orders_products_combined.csv'), index = False)

In [32]:
import pandas as pd
import pickle
import numpy as np
import os

In [34]:
df_combined = pd.read_csv(os.path.join(path, 'Prepared Data', 'orders_products_combined.csv'), index_col = False)

In [35]:
df_combined.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [37]:
df_combined.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))

OSError: [Errno 22] Invalid argument