## Step 3

In [34]:
import pandas as pd
import pickle
import numpy as np
import os

In [35]:
path = r'/Users/farhodfurkatov/Desktop/CF Data Immersion Achievment 4/Instacart Basket Analysis/02 Data'

In [36]:
# Importing combined data 
df_orders_products_combined = pd.read_csv(os.path.join(path, 'Prepared Data', 'orders_products_combined.csv'), index_col = False)

## Step 4

In [37]:
df_orders_products_combined.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [38]:
df_orders_products_combined.shape

(32434489, 10)

In [39]:
# drop merge column 
df_combined = df_orders_products_combined.drop(columns = ['_merge'])

In [40]:
df_combined.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

In [41]:
df_combined.shape

(32434489, 9)

## Step 5

In [42]:
# Importing products data
df_products = pd.read_csv(os.path.join(path, 'Prepared Data', 'products_clean.csv'), index_col=False)

In [43]:
df_products.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [44]:
df_products.shape

(49693, 5)

In [46]:
# I will merge both dataframes on products_id
df_orders_products_merged = df_combined.merge(df_products, on = 'product_id', indicator = True)

In [47]:
df_orders_products_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [48]:
df_orders_products_merged.shape

(32434212, 14)

## Step 6

In [52]:
df_orders_products_merged['_merge'].value_counts()

both          32434212
right_only           0
left_only            0
Name: _merge, dtype: int64

In [53]:
# Still not working, it isstaring the proccess creating notebook in my files but with 0 bytes
df_orders_products_merged.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_merged.pkl'))

OSError: [Errno 22] Invalid argument

In [55]:
df_orders_products_merged.to_csv(os.path.join(path, 'Prepared Data', 'orders_products_merged.csv'), index = False)