In [58]:
# Importing Libraries 
import pandas as pd
import numpy as np
import os

In [5]:
path = r'/Users/farhodfurkatov/Desktop/CF Data Immersion Achievment 4/Instacart Basket Analysis/02 Data'

In [6]:
cust = pd.read_csv(os.path.join(path, 'Original Data', 'customers.csv'))

In [7]:
#create df with 2 columns to merge with our df_2 dataframe 
cust_state = cust[['user_id', 'STATE']]

In [59]:
cust_state.head()

   user_id       STATE    Regions   Regions2 Result Regions11
0    26711    Missouri  Northeast        NaN    NaN   Midwest
1    33890  New Mexico  Northeast        NaN    NaN      West
2    65803       Idaho  Northeast  Northeast    NaN      West
3   125935        Iowa  Northeast  Northeast    NaN   Midwest
4   130797    Maryland  Northeast        NaN    NaN     South

In [61]:
cust.shape

(206209, 10)

In [63]:
ords = pd.read_csv(os.path.join(path, 'Original Data', 'orders.csv'))

In [64]:
ords.shape

(3421083, 7)

In [66]:
cust.isnull().sum()

user_id             0
First Name      11259
Surnam              0
Gender              0
STATE               0
Age                 0
date_joined         0
n_dependants        0
fam_status          0
income              0
dtype: int64

In [68]:
dups_cust = cust[cust.duplicated()]

In [69]:
dups_cust

Empty DataFrame
Columns: [user_id, First Name, Surnam, Gender, STATE, Age, date_joined, n_dependants, fam_status, income]
Index: []

In [52]:
# creating the regions column
result11 = []

for value in cust_state['STATE']:
    
    if value == 'Maine' or value == 'New Hampshire' or value == 'Vermont' or value == 'Massachusetts' or value == 'Rhode Island' or value == 'Connecticut' or value == 'New York' or value == 'New Jersey' or value == 'Pennsylvania':
        result11.append('Northeast')
    elif value == 'Wisconsin' or value == 'Michigan' or value == 'Illinois' or value == 'Indiana' or value == 'Ohio' or value == 'North Dakota' or value == 'South Dakota' or value == 'Nebraska' or value == 'Kansas' or value == 'Minnesota' or value == 'Iowa' or value == 'Missouri' :
        result11.append('Midwest')
    elif value == 'Delaware' or value == 'Maryland' or value == 'District of Columbia' or value == 'Virginia' or value == 'West Virginia' or value == 'North Carolina' or value == 'South Carolina' or value == 'Georgia' or value == 'Florida' or value == 'Kentucky' or value == 'Tennessee' or value == 'Mississippi' or value == 'Alabama' or value == 'Oklahoma' or value == 'Texas' or value == 'Arkansas' or value == 'Louisiana':
        result11.append('South')
    else:
        result11.append('West')

In [53]:
result11

['Midwest',
 'West',
 'West',
 'Midwest',
 'South',
 'South',
 'West',
 'South',
 'South',
 'South',
 'West',
 'Midwest',
 'South',
 'West',
 'West',
 'Midwest',
 'Midwest',
 'Midwest',
 'West',
 'Northeast',
 'Midwest',
 'South',
 'Northeast',
 'South',
 'West',
 'West',
 'South',
 'Midwest',
 'West',
 'South',
 'South',
 'West',
 'West',
 'Northeast',
 'West',
 'Midwest',
 'Northeast',
 'West',
 'South',
 'Midwest',
 'West',
 'Midwest',
 'Northeast',
 'Northeast',
 'West',
 'Northeast',
 'West',
 'Midwest',
 'South',
 'South',
 'Midwest',
 'West',
 'West',
 'West',
 'South',
 'West',
 'Midwest',
 'South',
 'Midwest',
 'West',
 'South',
 'West',
 'West',
 'West',
 'Midwest',
 'West',
 'West',
 'West',
 'Northeast',
 'West',
 'South',
 'Northeast',
 'Northeast',
 'South',
 'Northeast',
 'Northeast',
 'West',
 'West',
 'Northeast',
 'Midwest',
 'West',
 'South',
 'West',
 'Northeast',
 'South',
 'Midwest',
 'South',
 'West',
 'Midwest',
 'West',
 'Northeast',
 'South',
 'South',
 'Midwest',
 'Midwest',
 'Northeast',
 'Midwest',
 'Midwest',
 'South',
 'South',
 'South',
 'South',
 'Midwest',
 'West',
 'Northeast',
 'West',
 'South',
 'Northeast',
 'Midwest',
 'West',
 'South',
 'Midwest',
 'Northeast',
 'South',
 'West',
 'West',
 'South',
 'West',
 'West',
 'West',
 'West',
 'South',
 'South',
 'Northeast',
 'South',
 'Northeast',
 'South',
 'West',
 'West',
 'Northeast',
 'Northeast',
 'Northeast',
 'Midwest',
 'South',
 'Northeast',
 'South',
 'Midwest',
 'South',
 'Midwest',
 'Northeast',
 'South',
 'Midwest',
 'Midwest',
 'West',
 'Northeast',
 'Midwest',
 'West',
 'West',
 'Midwest',
 'West',
 'Midwest',
 'West',
 'South',
 'Northeast',
 'South',
 'West',
 'West',
 'West',
 'South',
 'Northeast',
 'West',
 'Midwest',
 'South',
 'Northeast',
 'South',
 'Midwest',
 'West',
 'Midwest',
 'South',
 'West',
 'South',
 'Northeast',
 'Northeast',
 'West',
 'Northeast',
 'West',
 'West',
 'West',
 'Midwest',
 'South',
 'South',
 'Midwest',
 'West',
 'West',
 'Northeast',
 'Midwest',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'Midwest',
 'South',
 'Midwest',
 'Northeast',
 'Northeast',
 'West',
 'Northeast',
 'South',
 'South',
 'Northeast',
 'South',
 'Midwest',
 'South',
 'West',
 'Northeast',
 'West',
 'West',
 'Midwest',
 'Northeast',
 'South',
 'Midwest',
 'Northeast',
 'South',
 'Northeast',
 'Midwest',
 'Midwest',
 'Northeast',
 'Midwest',
 'Northeast',
 'Northeast',
 'South',
 'West',
 'South',
 'South',
 'South',
 'Midwest',
 'Northeast',
 'Northeast',
 'Northeast',
 'Midwest',
 'South',
 'West',
 'West',
 'South',
 'West',
 'West',
 'Midwest',
 'South',
 'South',
 'West',
 'West',
 'Midwest',
 'South',
 'South',
 'South',
 'South',
 'West',
 'Northeast',
 'Midwest',
 'West',
 'South',
 'Midwest',
 'West',
 'West',
 'West',
 'Midwest',
 'Northeast',
 'West',
 'West',
 'West',
 'South',
 'South',
 'Northeast',
 'West',
 'South',
 'South',
 'Midwest',
 'West',
 'West',
 'Midwest',
 'West',
 'South',
 'Midwest',
 'Midwest',
 'West',
 'South',
 'South',
 'Midwest',
 'West',
 'South',
 'Midwest',
 'South',
 'South',
 'West',
 'West',
 'Midwest',
 'Midwest',
 'Northeast',
 'Midwest',
 'South',
 'Midwest',
 'Midwest',
 'South',
 'South',
 'Midwest',
 'South',
 'West',
 'South',
 'South',
 'South',
 'West',
 'Midwest',
 'West',
 'South',
 'Northeast',
 'South',
 'South',
 'West',
 'Midwest',
 'Northeast',
 'Midwest',
 'West',
 'Midwest',
 'Northeast',
 'Northeast',
 'West',
 'Northeast',
 'South',
 'South',
 'South',
 'South',
 'Midwest',
 'South',
 'Midwest',
 'South',
 'South',
 'West',
 'South',
 'Northeast',
 'Midwest',
 'West',
 'South',
 'Northeast',
 'South',
 'West',
 'Midwest',
 'South',
 'South',
 'Midwest',
 'South',
 'West',
 'South',
 'West',
 'South',
 'Northeast',
 'Midwest',
 'Midwest',
 'West',
 'Midwest',
 'South',
 'Midwest',
 'Northeast',
 'Northeast',
 'Midwest',
 'West',
 'Northeast',
 'South',
 'Midwest',
 'Northeast',
 'South',
 'South',
 'Midwest',
 'South',
 'Northeast',
 'South',
 'South',
 'West',
 'Northeast',
 'South',
 'South',
 'South',
 'Midwest',
 'West',
 'Northeast',
 'South',
 'West',
 'Midwest',
 'South',
 'Midwest',
 'South',
 'Midwest',
 'South',
 'Northeast',
 'South',
 'Northeast',
 'South',
 'South',
 'West',
 'South',
 'South',
 'West',
 'Northeast',
 'South',
 'South',
 'Midwest',
 'South',
 'South',
 'Northeast',
 'Northeast',
 'Northeast',
 'South',
 'Northeast',
 'South',
 'South',
 'Midwest',
 'Northeast',
 'West',
 'South',
 'Northeast',
 'Midwest',
 'South',
 'South',
 'Midwest',
 'West',
 'Northeast',
 'Northeast',
 'Midwest',
 'West',
 'Midwest',
 'Northeast',
 'Northeast',
 'Northeast',
 'West',
 'Northeast',
 'Midwest',
 'South',
 'South',
 'Midwest',
 'South',
 'West',
 'Northeast',
 'Midwest',
 'West',
 'Midwest',
 'Midwest',
 'South',
 'West',
 'West',
 'West',
 'West',
 'South',
 'Northeast',
 'West',
 'Midwest',
 'Midwest',
 'Northeast',
 'Northeast',
 'West',
 'West',
 'South',
 'South',
 'South',
 'South',
 'West',
 'South',
 'South',
 'South',
 'West',
 'West',
 'West',
 'West',
 'Midwest',
 'Northeast',
 'South',
 'South',
 'West',
 'Midwest',
 'South',
 'West',
 'Midwest',
 'South',
 'Northeast',
 'South',
 'South',
 'South',
 'South',
 'Northeast',
 'Midwest',
 'Midwest',
 'Northeast',
 'Northeast',
 'South',
 'South',
 'South',
 'West',
 'Midwest',
 'Northeast',
 'West',
 'South',
 'Northeast',
 'South',
 'West',
 'West',
 'South',
 'Midwest',
 'Northeast',
 'Northeast',
 'South',
 'South',
 'Midwest',
 'West',
 'West',
 'West',
 'Northeast',
 'South',
 'Northeast',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'West',
 'South',
 'Northeast',
 'West',
 'Northeast',
 'Northeast',
 'West',
 'West',
 'South',
 'Northeast',
 'South',
 'South',
 'South',
 'Midwest',
 'West',
 'South',
 'South',
 'West',
 'West',
 'South',
 'West',
 'Northeast',
 'South',
 'Northeast',
 'Northeast',
 'Northeast',
 'Midwest',
 'South',
 'Midwest',
 'South',
 'West',
 'Northeast',
 'West',
 'Midwest',
 'Northeast',
 'Midwest',
 'Midwest',
 'Northeast',
 'South',
 'West',
 'South',
 'Northeast',
 'South',
 'Midwest',
 'South',
 'West',
 'West',
 'West',
 'South',
 'South',
 'Midwest',
 'Northeast',
 'Northeast',
 'South',
 'South',
 'South',
 'South',
 'Midwest',
 'South',
 'Midwest',
 'Midwest',
 'Midwest',
 'South',
 'Northeast',
 'Northeast',
 'Midwest',
 'Midwest',
 'Midwest',
 'South',
 'South',
 'West',
 'South',
 'South',
 'South',
 'Midwest',
 'South',
 'Northeast',
 'West',
 'South',
 'South',
 'West',
 'South',
 'West',
 'Midwest',
 'West',
 'South',
 'West',
 'West',
 'Midwest',
 'West',
 'South',
 'Midwest',
 'Midwest',
 'West',
 'West',
 'Midwest',
 'Midwest',
 'South',
 'South',
 'West',
 'South',
 'Midwest',
 'South',
 'South',
 'West',
 'South',
 'Northeast',
 'Northeast',
 'South',
 'West',
 'West',
 'West',
 'Midwest',
 'South',
 'Northeast',
 'West',
 'West',
 'Northeast',
 'Midwest',
 'South',
 'West',
 'Northeast',
 'South',
 'West',
 'West',
 'Northeast',
 'West',
 'West',
 'Northeast',
 'West',
 'Midwest',
 'South',
 'South',
 'South',
 'Midwest',
 'West',
 'Midwest',
 'South',
 'South',
 'South',
 'Northeast',
 'South',
 'Northeast',
 'West',
 'Midwest',
 'Midwest',
 'West',
 'South',
 'West',
 'West',
 'West',
 'South',
 'West',
 'West',
 'West',
 'South',
 'West',
 'Midwest',
 'South',
 'South',
 'South',
 'South',
 'West',
 'South',
 'Northeast',
 'West',
 'South',
 'West',
 'Midwest',
 'South',
 'West',
 'South',
 'West',
 'West',
 'West',
 'South',
 'West',
 'Midwest',
 'Northeast',
 'Midwest',
 'Northeast',
 'South',
 'South',
 'Midwest',
 'Midwest',
 'South',
 'Northeast',
 'West',
 'Midwest',
 'West',
 'West',
 'South',
 'West',
 'West',
 'West',
 'Midwest',
 'West',
 'West',
 'South',
 'West',
 'West',
 'West',
 'South',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'South',
 'South',
 'Northeast',
 'Northeast',
 'Midwest',
 'South',
 'West',
 'South',
 'Northeast',
 'West',
 'West',
 'Midwest',
 'Northeast',
 'Northeast',
 'Midwest',
 'South',
 'South',
 'Midwest',
 'South',
 'South',
 'West',
 'Midwest',
 'Midwest',
 'West',
 'Northeast',
 'West',
 'West',
 'West',
 'Midwest',
 'South',
 'West',
 'Midwest',
 'Midwest',
 'South',
 'Midwest',
 'South',
 'West',
 'South',
 'Northeast',
 'Northeast',
 'West',
 'Midwest',
 'West',
 'Northeast',
 'South',
 'West',
 'South',
 'West',
 'Northeast',
 'Midwest',
 'South',
 'South',
 'Midwest',
 'South',
 'Northeast',
 'South',
 'Midwest',
 'Northeast',
 'West',
 'West',
 'Midwest',
 'Midwest',
 'West',
 'Northeast',
 'Northeast',
 'Midwest',
 'West',
 'South',
 'South',
 'West',
 'Northeast',
 'Midwest',
 'South',
 'Northeast',
 'West',
 'West',
 'South',
 'West',
 'Midwest',
 'Northeast',
 'Midwest',
 'West',
 'South',
 'Northeast',
 'West',
 'South',
 'West',
 'West',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'West',
 'Midwest',
 'South',
 'West',
 'West',
 'Midwest',
 'West',
 'South',
 'South',
 'Midwest',
 'South',
 'South',
 'South',
 'South',
 'West',
 'Midwest',
 'Midwest',
 'Midwest',
 'Northeast',
 'Northeast',
 'South',
 'West',
 'South',
 'South',
 'South',
 'South',
 'Midwest',
 'South',
 'West',
 'South',
 'West',
 'West',
 'West',
 'South',
 'Midwest',
 'Midwest',
 'Northeast',
 'South',
 'South',
 'South',
 'West',
 'South',
 'Midwest',
 'West',
 'West',
 'Northeast',
 'South',
 'West',
 'Northeast',
 'South',
 'West',
 'South',
 'Midwest',
 'West',
 'Midwest',
 'South',
 'Northeast',
 'South',
 'Midwest',
 'West',
 'South',
 'Midwest',
 'South',
 'West',
 'South',
 'Midwest',
 'South',
 'Northeast',
 'Midwest',
 'South',
 'West',
 'West',
 'West',
 'South',
 'West',
 'South',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'West',
 'South',
 'Northeast',
 'West',
 'South',
 'West',
 'South',
 'South',
 'South',
 'Northeast',
 'South',
 'Northeast',
 'West',
 'Northeast',
 'Midwest',
 'South',
 'South',
 'Northeast',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'West',
 'Northeast',
 'West',
 'Northeast',
 'West',
 'South',
 'Midwest',
 'Northeast',
 'South',
 'Midwest',
 'South',
 'West',
 'South',
 'Northeast',
 'Northeast',
 'Midwest',
 'Midwest',
 'Midwest',
 'South',
 'Midwest',
 'South',
 'Midwest',
 'South',
 'South',
 'South',
 'South',
 'South',
 'Midwest',
 'South',
 'West',
 'South',
 'West',
 'West',
 'Northeast',
 'Northeast',
 'South',
 'South',
 'South',
 'Midwest',
 'Northeast',
 'Midwest',
 'Midwest',
 'Midwest',
 'West',
 'South',
 'West',
 'Northeast',
 'South',
 'South',
 'South',
 'Midwest',
 'South',
 'West',
 'South',
 'Northeast',
 'Northeast',
 'Northeast',
 'Northeast',
 'West',
 'Northeast',
 'Northeast',
 'South',
 'West',
 'West',
 'Midwest',
 'South',
 'South',
 'Midwest',
 'South',
 'Midwest',
 'South',
 'South',
 'South',
 'Northeast',
 'Midwest',
 'Northeast',
 'Northeast',
 'West',
 'South',
 'West',
 'Midwest',
 'Northeast',
 'Midwest',
 'South',
 'West',
 'South',
 ...]

In [54]:
cust_state['Regions11'] = result11

/Users/farhodfurkatov/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [55]:
cust_state.head(50)

    user_id           STATE    Regions   Regions2 Result  Regions11
0     26711        Missouri  Northeast        NaN    NaN    Midwest
1     33890      New Mexico  Northeast        NaN    NaN       West
2     65803           Idaho  Northeast  Northeast    NaN       West
3    125935            Iowa  Northeast  Northeast    NaN    Midwest
4    130797        Maryland  Northeast        NaN    NaN      South
5    133128        Kentucky  Northeast        NaN    NaN      South
6    152052         Montana  Northeast        NaN    NaN       West
7    168851  South Carolina  Northeast        NaN    NaN      South
8     69965           Texas  Northeast        NaN    NaN      South
9     82820        Virginia  Northeast        NaN    NaN      South
10    26441          Nevada  Northeast        NaN    NaN       West
11    33835        Nebraska  Northeast        NaN    NaN    Midwest
12    75032         Georgia  Northeast        NaN    NaN      South
13       51         Wyoming  Northeast        NaN    NaN       West
14      516        Colorado  Northeast        NaN    NaN       West
15     6965    North Dakota  Northeast        NaN    NaN    Midwest
16     8794        Nebraska  Northeast        NaN    NaN    Midwest
17     9944       Wisconsin  Northeast        NaN    NaN    Midwest
18    13313          Alaska  Northeast        NaN    NaN       West
19    17335         Vermont  Northeast        NaN    NaN  Northeast
20    29864    North Dakota  Northeast        NaN    NaN    Midwest
21    37744        Arkansas  Northeast        NaN    NaN      South
22    50000           Maine  Northeast        NaN    NaN  Northeast
23    55567  North Carolina  Northeast        NaN    NaN      South
24    57549         Montana  Northeast        NaN    NaN       West
25    60386          Alaska  Northeast        NaN    NaN       West
26    68032   West Virginia  Northeast        NaN    NaN      South
27    83910         Indiana  Northeast        NaN    NaN    Midwest
28    86936          Oregon  Northeast        NaN    NaN       West
29    99199        Arkansas  Northeast        NaN    NaN      South
30   100123         Florida  Northeast        NaN    NaN      South
31   104359           Idaho  Northeast  Northeast    NaN       West
32   112664      California  Northeast        NaN    NaN       West
33   113616    Pennsylvania  Northeast        NaN    NaN  Northeast
34   117740          Oregon  Northeast        NaN    NaN       West
35   127020            Ohio  Northeast        NaN    NaN    Midwest
36   135871     Connecticut  Northeast        NaN    NaN  Northeast
37   139692         Arizona  Northeast        NaN    NaN       West
38   149755       Louisiana  Northeast        NaN    NaN      South
39   150670            Iowa  Northeast  Northeast    NaN    Midwest
40   155598      Washington  Northeast        NaN    NaN       West
41   159323       Wisconsin  Northeast        NaN    NaN    Midwest
42   165553     Connecticut  Northeast        NaN    NaN  Northeast
43   166899        New York  Northeast  Northeast    NaN  Northeast
44   168047          Alaska  Northeast        NaN    NaN       West
45   180190     Connecticut  Northeast        NaN    NaN  Northeast
46   180333      Washington  Northeast        NaN    NaN       West
47   195665    North Dakota  Northeast        NaN    NaN    Midwest
48   197419   West Virginia  Northeast        NaN    NaN      South
49   201111        Kentucky  Northeast        NaN    NaN      South

In [56]:
cust_state['Regions11'].value_counts(dropna = False)

South        68737
West         52565
Midwest      48519
Northeast    36388
Name: Regions11, dtype: int64

In [71]:
opm = pd.read_csv(os.path.join(path, 'Prepared Data', 'orders_products_merged.csv'))

In [72]:
opm_dups = opm[opm.duplicated()]

In [73]:
opm_dups

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
24828734,2564286,236,32,1,23,2.0,35306,9,0,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8,both
24828736,1759951,236,33,4,0,3.0,35306,11,1,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8,both
24828738,2508582,1021,30,2,10,2.0,35306,3,0,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8,both
24828740,98185,1264,1,0,18,NaN,35306,12,0,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8,both
24828742,1306167,1264,2,4,6,18.0,35306,2,1,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32433506,1528096,137438,16,1,15,23.0,35491,7,1,Adore Forever Body Wash,127,11,9.9,both
32433508,1450541,137438,18,1,13,21.0,35491,6,1,Adore Forever Body Wash,127,11,9.9,both
32433510,1118413,155030,6,3,16,15.0,35491,7,0,Adore Forever Body Wash,127,11,9.9,both
32433512,2744037,159487,1,2,18,NaN,35491,3,0,Adore Forever Body Wash,127,11,9.9,both
32433514,1564616,180527,2,1,11,22.0,35491,3,0,Adore Forever Body Wash,127,11,9.9,both

In [74]:
opmc = opm.drop_duplicates()

In [75]:
opmc.shape

(32433030, 14)

In [76]:
opmc.to_csv(os.path.join(path, 'Prepared Data', 'orders_products_merged.csv'), index = False)

In [77]:
opmc.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_merged.pkl'))