# Task 4.8

In [1]:
# Importing libraries 
import pandas as pd
import pickle
import numpy as np
import os

In [2]:
# Creating path to Data Folder 
path = r'/Users/farhodfurkatov/Desktop/CF Data Immersion Achievment 4/Instacart Basket Analysis/02 Data'

In [13]:
# importing the file 
ords_prods_merge1 = pd.read_csv(os.path.join(path, 'Prepared Data', 'ords_prods_merged.csv'), index_col = False)

AttributeError: 'DataFrame' object has no attribute 'read_csv'

In [10]:
# creatinf df only for the first 1m row
df = ords_prods_merge[:1000000]

In [11]:
df.head()

,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day
0,0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regular busy days,Average orders
1,1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy days,Average orders
2,2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy days,Most Orders
3,3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy days,Average orders
4,4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy days,Most Orders